.main1{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
}
.logo{
    position: absolute;
    left: 7rem;
}
.buttons{
    position: absolute;
    right: 5rem;
    gap: 2rem;
}